{
  "gmail_address": "XXXXX@gmail.com",
  "gmail_app_password": "",
  "rakuten_sec_id": "",
  "rakuten_sec_password": "",
  "from_address": "XXXXX@gmail.com",
  "to_address": "YYYYY@mail.example.co.jp"
}